@import "bourbon";
@import "neat";

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

// Variables
$center : 0 auto;
$green: #9BD095;

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 999;
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    a {
      text-decoration: none;
      color: gray;
      &:hover {
        color: red;
      }
    }
  }
}
header {
  text-align: center;
  height: 100vh;
  h1 {
    width: 50%;
    margin: $center;
  }
}

.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: rgba(50,50,50,0.4);
  $hero-background-bottom: rgba(50, 50, 50, 0.8);
  $hero-color: white;
  // $gradient-angle: 10deg;
  $hero-image: '../assets/images/desktop.jpg';

  @include background(linear-gradient($hero-background-top, $hero-background-bottom), url($hero-image), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 12em;
    margin: 10em 0 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

.side-image {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $side-image-background-top: #B5EBEB;
  $side-image-background-bottom: #5DAC5D;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);
  height: 100%;
  z-index: 0;

  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.9)), url('../assets/images/wildenglish.png');
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(5);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
    img {
      width: 80%;
      position: absolute;
      top: 20%;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(7);
      padding: 4em 4em 8em 4em;
    }

    h4 {
      margin-bottom: 0.9em;
      text-align: right;
      color: rgba(0,0,0,0.8);
      font-size: 1.5em;
    }

    h3 {
      background: #BBB;
      color: white;
      font-size: 2.5em;
      margin-bottom: 0.5em;
      padding: 3px 8px;
      text-transform: uppercase;
      text-align: right;
      width: 50%;
      margin-left: 50%;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }
  }

  @include reset-display();
}

.project {
  height: 94vh;
}
