---
layout: default
---
<body ng-app="slider" ng-controller="MainCtrl as app">
  <div id="container">
<div id="posts" class="container-fluid">
  <h3>The Ironing Board</h3>

  <ul class="ironBoard">
    {% for post in site.posts limit:3 %}
      <li>
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p class="datePost">{{ post.posted }}</p>
          {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
  <div class="all-posts">
    <a href="/all-posts.html" class="btn btn-primary"><span class="glyphicon glyphicon-book"></span> All Posts</a>
  </div>
</div>

<div id="about" class="container-fluid">
    <h3>A Little Bit About Me</h3>

    <p>My name is Logan and I enjoy hanging out with family, friends and my wiener
    dogs, solving rubiks cubes, Rx'ing WODs, and of course designing for
    the web. Everything here will be about my life and evolution as a web developer.</p><br>

    <p>This is where I will keep you all up to date about my web development
    adventures here at <a href="http://theironyard.com/">The Iron Yard</a> Academy. As part
    of the inaugural class for the <a href="http://theironyard.com/locations/orlando/">Orlando, FL</a>, location I
    am taking my first steps towards a new career. If you have any questions or would like
    to get in contact with me about collaborating definitely check out my <a href="#contact">Contact Info</a>
    and Social Media pages. I look forward to this journey into Web Developments especially with being in the
    center of the buzzing Central Florida Tech Community!</p>


</div>

<div id="projects" class="container-fluid portfolio-buttons" >
  <h3>Projects</h3>
    <div class="container slider">
      <a ng-repeat="slide in app.slides" ng-href="{[slide.url]}"><img class="slide slide-animation nonDraggableImage img-responsive"
        ng-swipe-right="app.nextSlide()" ng-swipe-left="app.prevSlide()"
        ng-hide="app.isCurrentSlideIndex($index) === false" ng-src="{[slide.image]}"></a>

      <nav class="nav-slider">
        <div class="wrapper">
          <ul class="dots">
            <li class="dot" ng-repeat="slide in app.slides">
              <a ng-class="{'active':app.isCurrentSlideIndex($index)}"
              ng-click="app.setCurrentSlideIndex($index);">{[slide.description]}</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <a class="arrow prev glyphicon glyphicon-chevron-left"  ng-click="app.prev()"></a>
    <a class="arrow next glyphicon glyphicon-chevron-right"  ng-click="app.next()"></a>
    <div class="slider-description">
      <p>Clicking on the images in the slide will take you directly to the actual project page</p><br>
      <p>The slider itself was a project that started in jQuery and then I refactored into AngularJS</p>
    </div>
</div>

  <div id="social">
    <h3>Socialize and Code</h3>
    <div>
      <div class="contact-me2">
        <h3>Questions? Collaborations?<br><small>Just Wanna Talk?</small></h3>
        <form id="contactForm" class="content">
            <div class="input col-xs-6">
                <input class="contact-input contact-input-yoko" type="text" id="first" name="FirstName">
                <label class="contact-label contact-label-yoko" for="first">
                    <span class="contact-label-name contact-label-name-yoko">First Name</span>
                </label>
            </div>
            <div class="input col-xs-6">
                <input class="contact-input contact-input-yoko" type="text" id="last" name="LastName">
                <label class="contact-label contact-label-yoko" for="last">
                    <span class="contact-label-name contact-label-name-yoko">Last name</span>
                </label>
            </div>
            <div class="input col-xs-6">
                <input class="contact-input contact-input-yoko" type="email" id="email" name="Email">
                <label class="contact-label contact-label-yoko" for="email">
                    <span class="contact-label-name contact-label-name-yoko">Email</span>
                </label>
            </div>
            <div class="input col-xs-6">
                <input class="contact-input contact-input-yoko" type="tel" id="phone" name="PhoneNumber">
                <label class="contact-label contact-label-yoko" for="phone">
                    <span class="contact-label-name contact-label-name-yoko">Phone</span>
                </label>
            </div>
            <div class="input col-xs-12">
                <textarea class="contact-message" id="Message" name="Message" placeholder="Leave a Message for Me Right Here"></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Send</button>
         </form>
        <div class="mobile-social">
          <a href="mailto:logan@loganarnett.com"><h4><span class="fa fa-envelope fa-2x">&nbsp;Email Me!</span></h4></a>
          <a href="tel:15613025096"><h4><span class="fa fa-mobile fa-2x">&nbsp;Call Me!</span></h4></a>
        </div>
        <div class="row socialFoot">
            <div class="follow col-xs-3">
                <a href="https://twitter.com/RxNerd"><span class="fa fa-twitter fa-5x"></span></a>
            </div>
            <div class="follow col-xs-3">
                <a href="http://instagram.com/rxnerd"><span class="fa fa-instagram fa-5x"></span></a>
            </div>
            <div class="follow col-xs-3">
                <a href="https://linkedin.com/in/LoganArnett/"><span class="fa fa-linkedin fa-5x"></span></a>
            </div>
            <div class="code col-xs-3">
                <a href="https://github.com/LoganArnett"><span class="fa fa-github fa-5x"></span></a>
            </div>
        </div>
<!--
        <a href="mailto:logan@loganarnett.com"><p><span class="fa fa-envelope fa-2x">&nbsp;&nbsp;Logan@LoganArnett.com</span></p></a><br>
        <a href="tel:15613025096"><p><span class="fa fa-mobile fa-2x">&nbsp;&nbsp;Call Me!</span></p></a>
-->
      </div>
    </div>

    </div>
  </div>
