<!doctype html>
<html lang="en" ng-app="meanFolio">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Logan Arnett | Web Developer</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/libs/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="public/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/styles.css">

</head>
<body ng-controller="MainCtrl as main">
<div class="container">


  <div scrollnav class="menu-icon" ng-click="main.sidePanel($event)" ng-class="{colorNav: colorChange}">
    <span class="top">&nbsp</span>
    <span class="middle">&nbsp</span>
    <span class="bottom">&nbsp</span>
  </div>

<nav class="js-menu sliding-panel-content">
<ul>
  <li><a ui-sref="home" ng-click="main.sidePanelSelect($event)">Home</a></li>
  <li><a ui-sref="about" ng-click="main.sidePanelSelect($event)">About</a></li>
  <li><a ui-sref="contact" ng-click="main.sidePanelSelect($event)">Contact</a></li>
</ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen" id="menuFade"></div>
    <div class="site-wrap">
      <!-- <ul class="navigation">
         <li class="nav-item"><a href="#">Home</a></li>
         <li class="nav-item"><a href="#">Portfolio</a></li>
         <li class="nav-item"><a href="#">About</a></li>
         <li class="nav-item"><a href="#">Blog</a></li>
         <li class="nav-item"><a href="#">Contact</a></li>
       </ul>
       <input type="checkbox" id="nav-trigger" class="nav-trigger" ng-click="main.hamburger($event)"/>
       <label for="nav-trigger">
       </label> -->
      <div ui-view></div>
    </div>

    <footer>
      <div class="footer-img">
        <img src="public/assets/images/logo1.svg" alt="Logan Arnett">
      </div>
      <ul class="footer-nav">
        <li><a ui-sref="home" ng-click="main.sidePanel($event)">Home</a></li>
        <li><a ui-sref="about" ng-click="main.sidePanel($event)">About</a></li>
        <li><a ui-sref="contact" ng-click="main.sidePanel($event)">Contact</a></li>
      </ul>
      <ul class="social-nav">
        <li><a href="https://github.com/LoganArnett"><span class="fa fa-github"></span></a></li>
        <li><a href="https://twitter.com/RxNerd"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://www.linkedin.com/in/loganarnett"><span class="fa fa-linkedin"></span></a></li>
      </ul>
      <p class="copyright">Logan Arnett &copy2015</p>
    </footer>
</div>
    <script src="public/js/vendors/angular.min.js"></script>
    <script src="public/js/vendors/angular-ui-router.min.js"></script>
    <script src="public/js/vendors/lodash.min.js"></script>
    <script src="public/js/vendors/restangular.min.js"></script>
    <script src="public/js/vendors/sweetalert2.min.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/controllers/main.controller.js"></script>
    <script src="public/js/controllers/project.controller.js"></script>
</body>
</html>
