/* style.css */

#banner {
    margin-left: auto;
    margin-right: auto;
}



a:link {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    background-color: #3B71EC;
    color: #FFF;
    font-weight: bold;
}

#ironing-board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ul li a:link {
    text-decoration: none;
    color: #3B71EC;
}

ul li a:visited {
    text-decoration: none;
    color: #3B71EC;
}

ul li a:hover {
    text-decoration: none;
    background-color: #000;
    color: #3B71EC;
}

div #navbar {
    display: inline;
    background-color: #535353;
}

#navbar-right {
    display: inline;
}

h3 {
    margin: 0;
    clear: right;
    
}

header { width: 100%;
       
}


#mainname { float: left;
            color: #3B71EC;
}

#nav{ float: right;
}
#nav ul { padding: 0; margin: 0; }
#nav ul li {display: inline;}