/* LoganArnett.com style.css

   Colors:
    -Red Pastel: #f4858e
    -Green Pastel: #bfe2ca
    -Blue Pastel: #a6daef
    -Light Blue/Gray Pastel: #d0e2ec
    -Yellow Pastel: #fed88f
    -Black Pastel: #313131
    -Dark Gray Pastel: #777777
    -Purple Pastel: #bfb1d5
    -Light Green Pastel: #adddcf
    -Light Blue Pastel: #abe1fd
    -Orange Pastel: #fed1be
    -Dark Yellow Pastel: #f0e0a2
    -Light Gray: #e8e7e5
    */
body {
    margin: 0;
    color: #777777;
}
/* #mainname h3 {
    margin: 0;
    clear: right;
    padding: 4% 0 4% 4%;
}
#mainname h3 a {
    margin: 0;
    clear: right;
    padding: 4% 0 4% 4%;
}
#mainname h3 a:link {
    text-decoration: none;
    color: #FFF;
    width: 5%
}

#mainname h3 a:visited {
    text-decoration: none;
    color: #FFF;
    width: 5%
}

#mainname h3 a:hover {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    background-color: #fff;
    width: 5%
} */
#page-title {
    margin-left: auto;
    margin-right: auto;
    background-color: #abe1fd;    /* rgba(24,188,156,0.7); */
    height: 250px;
    background-size: cover;
    position: relative;
}
#page-title .page-header {
  border-bottom: none;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
}
.page-header h1  {
  color: white;
  font-size: 300%;
}
.page-header h1 small {
  color: black;
  font-size: 50%;
}
.me {
  width: 15%;
  margin-top: 2%;
  margin-bottom: 0;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

#about {
  padding-bottom: 3%;
  padding-top: 2%;
  background-color: #C8BDF4; /* rgba(24,188,156,0.7); */
}

#ironing-board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
a:link {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

/* a:hover {
    text-decoration: none;
    background-color: #3B71EC;
    color: #FFF;
    font-weight: bold;
} */

ul li a:link {
    text-decoration: none;
    color: #FFF;
}

ul li a:visited {
    text-decoration: none;
    color: #FFF;
}

ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: crimson;
}
.navbar-default {
  background-color: #313131;
  border-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: lightskyblue;
}

div #navbar {
    display: inline;
    background-color: #535353;
}

#navbar-right {
    display: inline;

}
h3 {
    margin: 5% 0 5%;
    clear: right;
    text-align: center;
}
#head {
    width: 100%;
    position: absolute;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
#mainname {
    float: left;
    color: #FFF;
    padding: .5% 0 .5% 0;
    margin: 0;
}
#nav{
    float: right;
    padding: 1%;
}
#nav ul { padding: 0; margin: 0; }
#nav ul li {display: inline;}

#container {
}
p {
    padding: 0 20% 0 20%;
    line-height: 1.5pc;
}
p.post {
    padding: 0% 39%;
    line-height: 1.5pc;
}
h4 {
    text-align: center;
}
.content-image {
  width: 60%;
  height: auto;
  margin: 0 0 10% 20%;
}
h5#section {
  text-align: right;
  padding-right: 22%;
}
#container h2 {
  text-align: center;
}

 #projects {
  padding-bottom: 10ex;
}

#posts h4 a {
  text-align: center;
  padding: 2ex;
  width: 30%;
  margin: 0 auto;
  display: block;
}
#posts ul li a {
  color: #e8e7e5;
}
#posts ul li a:hover {
  color: green;
}
#posts ul li a:visited {
  color: #e8e7e5;
}
.fa-3x {
  padding: 0 1em;
}
#social {
  text-align: center;
  background-color: #b1dfd5;/*rgba(24,188,156,0.7);*/
  padding-top: 1%;
}
#social h3 {
  margin-top: 4%;
}
#social a {
  color: lightgray;
}
#social p {
  margin: 0;
}
a:hover .fa-twitter  {
  color: lightblue;
  background-color: none;
}
a:hover .fa-instagram  {
  color: forestgreen;
  background-color: none;
}
a:hover .fa-github  {
  color: mediumpurple;
  background-color: none;
}
footer {
  background-color: #313131;
  color: white;
}
.oscar, .xfit, .eola {
  width: 20%;
}
.aboutImages {
  margin-left: auto;
  margin-right: auto;
}
.aboutImages img {
  display: inline;
  padding: 1% 2%;
}
.portfolio {
  padding: 1% 0;
  margin-right: auto;
  margin-left: auto;
}
.surf {
  width: 20%;
  display: inline;
  padding: 1.5%;
  padding-bottom: 3%;
}
.surf.port-left-top {
  border-radius: 2em 8em 2em 8em;
}
.surf.port-left-bottom {
  border-radius: 8em 2em 8em 2em;
}
.surf.port-right-top {
  border-radius: 8em 2em 8em 2em;
}
.surf.port-right-bottom {
  border-radius: 2em 8em 2em 8em;
}
.surf.port-mid-top {
  border-radius: 8em 8em 2em 2em;
}
.surf.port-mid-bottom {
  border-radius: 2em 2em 8em 8em;
}
.ironBoard {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 14pt;
}
.ironBoard li (text){
  width: 40%;
}
.ironBoard li a h3 {
color: #313131;

}
@media (min-width: 992px){
   #page-title {
     min-height: 600px;
   }
}
