/* style.css */
body {
    margin: 0;
}
#mainname h3 a:link {
    text-decoration: none;
    color: #FFF;
}

#mainname h3 a:visited {
    text-decoration: none;
    color: #FFF;
}

#mainname h3 a:hover {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    background-color: #3B71EC;
    color: #FFF;
    font-weight: bold;
}

#ironing-board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ul li a:link {
    text-decoration: none;
    color: #FFF;
}

ul li a:visited {
    text-decoration: none;
    color: #FFF;
}

ul li a:hover {
    text-decoration: none;
    background-color: #FFF;
    color: #3B71EC;
}

div #navbar {
    display: inline;
    background-color: #535353;
}

#navbar-right {
    display: inline;
}

h3 {
    margin: 0;
    clear: right;
    
}

#head {
    width: 100%;
    position: absolute;
    background: #3B71EC;
    margin-left: auto;
    margin-right: auto;
}


#mainname { float: left;
            color: #FFF;
            padding: 0;
            margin: 0;
}

        
#nav{ float: right;
     
}
#nav ul { padding: 0; margin: 0; }
#nav ul li {display: inline;}

header {
    margin-left: auto;
    margin-right: auto;
    background: url(file:///users/logan/LoganArnett.github.io/images/ferris1.jpg) #fff no-repeat fixed;
    height: 250px;
}
