<section id="about">
  <div class="about-content">
    <div class="about-img">
      <img src="../public/assets/images/mentor.jpg" alt="Logan Arnett" />
    </div>
    <div class="about-bio">
      <p class="info">
        My name is Logan Arnett and I am a Web Developer. I work on the Front End
        in Javascript and utilize Javascript frameworks including: AngularJS, BackboneJS,
        MarionetteJS, and EmberJS.
      </p>

      <p class="info">
        On the Back End I enjoy working with NodeJS, Express, and MongoDB, to build full
        stack Javascript applications. The application that you are viewing right now is a
        MEAN stack app for me to be able to keep my portfolio as up to date as possible as
        easliy as possible.
      </p>

      <p class="info">
        I also enjoy working with Ruby on Rails on the Back End to build web applications
        and in the past have typically utilized EmberJS on the Front End of these applications.
      </p>
    </div>
  </div>
</section>
