<section id="contact">
  <h1>Get In Touch</h1>
  <div class="contact-info">
    <ul class="contact-options">
      <li><a href="mailto:logan@loganarnett.com"><span class="fa fa-envelope"></span> Logan@LoganArnett.com</a></li>
      <li><a href="tel:5613025096"><span class="fa fa-phone"></span> (561) 302-5096</a></li>
      <li><a href=""><span class="fa fa-github-square"></span> @LoganArnett</a></li>
      <li><a href=""><span class="fa fa-twitter-square"></span> @RxNerd</a></li>
      <li><a href=""><span class="fa fa-linkedin-square"></span> Logan Arnett</a></li>
    </ul>
  </div>
</section>
