<header class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="assets/images/logo1.svg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Just a Guy and His Blog</h1>
      <p>Let's Make Something Amazing.</p>
    </div>
  </div>
</header>
<section id="project1" class="project">
  <div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Topic Name</h4>
      <h1>Message with a gradient image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
    </div>
  </div>
</section>
