<header class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="assets/images/logo1.svg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Just a Guy and His Blog</h1>
      <p>Let's Make Something Amazing.</p>
    </div>
  </div>
</header>
<section id="project1" class="project">
  <div class="side-image">
  <div class="images-wrapper">
    <!-- <img src="assets/images/macbookWildEnglish.png" alt="Wild English Project"> -->
  </div>
    <div class="side-image-content">
      <h3>Wild English</h3>
      <h4>Angular App for a Seattle based band</h4>
      <p class="description">This web application is very simple at the moment and is awaiting the bands updates with photos and bios. The application utilizes the Google Calendar API for the event listings and keeping them up to date. Also makes it nice and easy for the band members themselves to keep that updated at any time from anywhere. The application also pulls from the Soundcloud API to grab the bands profile and playlists for the end user to be able to listen directly on the site.</p>
      <h2>Tech Used:</h2>
      <ul class="tech">
        <li>
          <figure>
            <img src="assets/images/angular.png" alt="AngularJS">
            <figcaption>AngularJS</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/images/bootstrap.png" alt="Bootstrap">
            <figcaption>Bootstrap</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/images/gulp.png" alt="Gulp">
            <figcaption>Gulp</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/images/bower.png" alt="Bower">
            <figcaption>Bower</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/images/google.png" alt="Google Calendar">
            <figcaption>Google Calendar API</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="assets/images/soundcloud.png" alt="SoundCloud">
            <figcaption>SoundCloud API</figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
