
<header id="page-title">
  <img src="/images/woodWall.jpg" alt="Wood" class="head-img">
  <div class="page-header">
    <h1>The Random Thoughts <small>of Some Guy Named Logan</small></h1>
    <img src="/images/MeSP.jpg" alt="UH OH!" class="img-circle me" >
  </div>
  <div class="contact-me">
    <h3>Have Questions About My Projects? Looking To Collaborate? Just Want To Talk Tech?</h3><br>
    <p>Contact Me:</p><br>
    <p><a href="mailto:logan@loganarnett.com"><span class="fa fa-envelope fa-2x"></span>Logan@LoganArnett.com</a></p><br>
    <p><a href="tel:15613025096"></a><span class="fa fa-mobile fa-2x">Call Me!</span></p>
  </div>
</header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-title">Logan Arnett</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#posts">Posts</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#social">Social</a></li>
        <li><a href="https://twitter.com/RxNerd" class="fa fa-twitter fa-2x twit"></a></li>
        <li><a href="http://instagram.com/rxnerd" class="fa fa-instagram fa-2x insta"></a></li>
        <li><a href="https://github.com/LoganArnett" class="fa fa-github fa-2x github"></a></li>
        <li><a href="www.linkedin.com/in/loganarnett/" class="fa fa-linkedin fa-2x linked"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
