

<nav>
 <div id="head">
    <div id="mainname"><h3>&nbsp;&nbsp;<a href="http://loganarnett.github.io/">Logan Arnett</a></h3>
    </div>
    <div id="nav">
    <ul>
        <li><a href="http://loganarnett.github.io/">About</a>&nbsp;&nbsp;&nbsp;</li>
        <li><a href="http://loganarnett.github.io/">Blog</a>&nbsp;&nbsp;&nbsp;</li>
        <li><a href="https://github.com/LoganArnett?tab=repositories">Portfolio</a>&nbsp;&nbsp;&nbsp;</li>
        <li><a href="http://loganarnett.github.io/">Contact</a>&nbsp;&nbsp;&nbsp;</li>
    </ul>
   </div>
 </div>
</nav>
<header>
  <img id="me" src="/images/ducktour.jpg" >
</header>
